@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 17 17 17;
  --foreground: 255 255 255;
  --primary: 130 87 229;
  --muted: 38 38 38;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#111111] text-white;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-[#8257E5] to-[#9466FF];
}

.purple-glow {
  text-shadow: 0 0 20px rgba(130, 87, 229, 0.5);
}

.container {
  @apply px-4 mx-auto max-w-7xl;
}
